
{% extends "base.html" %}


{% block title %}
	Serialnumber : {{ object.number }}
{% endblock %}

{% block content %}
<div class="wrapper">
		<h1>SerialNumber : {{object.number}}</h1> 
		<a href="../">Back to Serial number list</a><br>
		<i>Created date : {{object.created_date}} -- {{object.created_user}}</i><br>
		<i>Modified date : {{object.modified_date}}</i>

    <div class="row">
          <div class="col-md-4">
            <h4>Basic Information</h4>
            <table class="table">
			  
			  <tbody>
			    <tr>
			      <td>WorkOrder</td>
			      <td><a href="{{ object.workorder.get_absolute_url }}">{{object.workorder}}</a></td>
			    </tr> 

			    <tr>
			      <td>Routing</td>
			      <td>{{object.rotuing}}</td>
			    </tr>

			    <tr>
			      <td>Product</td>
			      <td><a href="{{ object.workorder.product.get_absolute_url }}">{{object.workorder.product}}</a></td>
			    </tr>

			    <tr>
			      <td>Description</td>
			      <td>{{object.description}}</td>
			    </tr>
			    <tr>
			      <td>Category1</td>
			      <td>{{object.category1}}</td>
			    </tr>
			    <tr>
			      <td>Category2</td>
			      <td>{{object.category2}}</td>
			    </tr>
			    <tr>
			      <td>Registered date.</td>
			      <td>{{object.registered_date}}</td>
			    </tr>
			    <tr>
			      <td>User</td>
			      <td>{{object.user.username}}</td>
			    </tr>
			    


			    <tr>
			      <td>Aging</td>
			      <td>
			      		{% if object.wip %}
			      			{{object.registered_date|timesince}}
			      		{% else %}
			      			{{object.registered_date|timesince:object.last_modified_date}}
			      		{% endif %}
			  	  </td>
			    </tr>
			    <tr>
			      <td>On WIP</td>
			      <td>
			      		<i class="fa {% if object.wip  %} ' fa-check-circle '  {% else %} ' fa-times-circle ' {% endif %} {% if object.wip %} true  {% else %} false {% endif %}" aria-hidden="true"></i>
			      </td>
			    </tr>
			    
			    
			  </tbody>
			</table>
          </div>
          <div class="col-md-4">
            <h4>Current Status</h4>
            <table class="table">
			  
			  <tbody>
			    <tr>
			      <td>Current Opr</td>
			      <td><a href="{{ object.current_operation.get_absolute_url }}">{{object.current_operation}}</a></td>
			    </tr>

			    <tr>
			      <td>Performing Opr</td>
			      <td>
			      		{% if object.perform_operation %}
				      	<a href="{{ object.perform_operation.get_absolute_url }}">{{object.perform_operation}}
				      	</a>
				      	{% endif %}
			      </td>
			    </tr>

			    <tr>
			      <td>Performing Resource</td>
			      <td>{{object.perform_resource}}</td>
			    </tr>

			    <tr>
			      <td>Performing Start Time</td>
			      <td>{{object.perform_start_date}}</td>
			    </tr>

			    
			   
			    
			    
			  </tbody>
			</table>
          </div>
          <div class="col-md-4">
            <h4>Last Status</h4>
            <table class="table">
			  
			  <tbody>
			  	
			    <tr>
			      <td>Last Opr</td>
			      <td><a href="{{ object.last_operation.get_absolute_url }}">{{object.last_operation}}</a></td>
			    </tr>
			    <tr>
			      <td>Last date.</td>
			      <td>{{object.last_modified_date}}</td>
			    </tr>
			    <tr>
			      <td>Last Result</td>
			      <td>
			      		<i class="fa {% if object.last_result  %} ' fa-check-circle '  {% else %} ' fa-times-circle ' {% endif %} {% if object.last_result %} true  {% else %} false {% endif %}" aria-hidden="true"></i>

			      </td>
			    </tr>

			    <tr>
			      <td>Idle Time</td>
			      <td>
			      		{% if object.wip %}
			      			{{object.last_modified_date|timesince}}
			      		{% else %}
			      			0
			      		{% endif %}
			      		
			      </td>
			    </tr>
			    
			    
			  </tbody>
			</table>
          </div>
        </div>
    </div> 

    <!-- End Msater data -->

    <div class="row">
          <div class="col-md-12">
            <h4>Perfoming Information</h4>
            <table class="table table-hover">
		  <thead >
		    <tr>
		      <th scope="col">Operation</th>
		      <th scope="col">Resource</th>
		      <th scope="col">Interval</th>
		      <th scope="col">Stared Date</th>
		      <th scope="col">Finished Date</th>
		      <th scope="col">Duration time</th>
		      <th scope="col">Result</th>
		      <th scope="col">Remark</th>
		    </tr>
		  </thead>
		  <tbody>
		  	{% for perform in object.performings.all %}
		  		<tr>
		  			<td>
		  				<a href="{{perform.get_absolute_url}}">{{perform.operation}}</a>
		  			</td>
		  			<td>{{perform.resource_name}}</td>
		  			<td>{{perform.interval}}</td>
		  			<td>{{perform.start_time}}</td>
		  			<td>{{perform.stop_time}}</td>
		  			<td>{{perform.start_time|timesince:perform.stop_time}}</td>
		  			
		  			<td>
		  				<i class="fa {% if perform.result  %} ' fa-check-circle '  {% else %} ' fa-times-circle ' {% endif %} {% if perform.result %} true  {% else %} false {% endif %}" aria-hidden="true"></i>
		  			</td>
		  			<td>{{perform.remark}}</td>
		  		</tr>
		  	{% empty %}
		  		No Performing Information
		  	{% endfor %}
		  </tbody>
		</table>
        </div> <!-- end row -->


        <div class="row">
          <div class="col-md-12">
            <h4>Component Traceability Information</h4>

            <table class="table table-hover">
		      <thead>
		        <tr>
		          <th scope="col">Operation</th>
		          <th scope="col">Date</th>
		          <th scope="col">RefDes</th>
		          <th scope="col">Part number</th>
		          <th scope="col">Rev</th>
		          
		          <th scope="col">Type</th>
		          <th scope="col">Module</th>
		         <th scope="col">Component</th>
		         <th scope="col">Action</th>

		        </tr>
		      </thead>
		      <tbody>
				
		    		{% for object in object.assembled.all %}
				          <tr>
				            <td>{{object.operation}} </td>
				            <td>{{object.action_date}} </td>
				            <td>{{object.refdes}} </td>
				            <td>{{object.pn}}</td>
				            <td>{{object.rev}}</td>
				            <td>{{object.pn_type}}</td>
				            <td><a href="{{object.module_number.get_absolute_url}}">{{object.module_number|default:""}}</a></td>
				            <td><a href="{{object.component_number.get_absolute_url}}">{{object.component_number|default:""}}</a></td>
				            <td><i class="fa {% if object.action_status  %} ' fa-check-circle '  {% else %} ' fa-times-circle ' {% endif %} {% if object.action_status %} true  {% else %} false {% endif %}" aria-hidden="true"></i></td>
				           
				          </tr>
		    		{% endfor %}
		      </tbody>
		    </table>

        </div> <!-- end row -->


</div>

{% endblock content %}