
{% extends "base.html" %}


{% block title %}
  Assembly : {{ object.name }}
{% endblock %}

{% block content %}
  <div class="wrapper"> 
    <h1>Name : {{object}}</h1> 
    <a href="../">Back to BOM item list</a><br>
    <i>Created date : {{object.created_date}} -- {{object.created_user}}</i><br>
    <i>Modified date : {{object.modified_date}}</i>

    <div class="row">
      <div class="col-md-6">
        <h4>Basic Information</h4>
          <table class="table">
            <tbody>
              <tr>
                <td>Ref Des</td>
                  <td>{{object.rd}}</td>
              </tr>
              <tr>
                <td>Part number</td>
                  <td>{{object.pn}}</td>
              </tr>
              <tr>
                <td>Customer Part number</td>
                  <td>{{object.customer_pn}}</td>
              </tr>
              <tr>
                <td>Part Type</td>
                  <td>{{object.pn_type}}</td>
              </tr>

              <tr>
                <td>Critial</td>
                  <td><i class="fa {% if object.critial %} ' fa-check-circle '  {% else %} ' fa-times-circle ' {% endif %} {% if object.critial %} true  {% else %} false {% endif %}" aria-hidden="true"></i></td>
              </tr>

              <tr>
                <td>BOM</td>
                  <td><a href="{{object.bom.get_absolute_url}}">{{object.bom}}</a></td>
              </tr>

              <tr>
                <td>Title</td>
                  <td>{{object.title}}</td>
              </tr>
              <tr>
                <td>Description</td>
                  <td>{{object.description|linebreaks}}</td>
              </tr>

              


              <tr>
                <td>Category</td>
                  <td>{{object.category1}}/{{object.category2}}</td>
              </tr>

              <tr>
                <td>Status</td>
                  <td><i class="fa {% if object.status == 'A' %} ' fa-check-circle '  {% else %} ' fa-times-circle ' {% endif %} {% if object.status == 'A' %} true  {% else %} false {% endif %}" aria-hidden="true"></i></td>
              </tr>
            </tbody>
          </table>
        </div>


        <div class="col-md-6">
        <h4>Packaging Information</h4>
          <table class="table">
            <tbody>
              <tr>
                <td>Pin</td>
                  <td>{{object.pin}}</td>
              </tr>
              <tr>
                <td>Thickness</td>
                  <td>{{object.thickness}}</td>
              </tr>

              <tr>
                <td>Package Family</td>
                  <td>{{object.package_family}}</td>
              </tr>
              <tr>
                <td>Package Type</td>
                  <td>{{object.package}}</td>
              </tr>

            </tbody>
          </table>
        </div>

        

    </div>

    

  </div>
{% endblock content %}