{% extends 'base.html' %}

{% block title %}8AM - Assembled list{% endblock %}

{% block content %}

	<h1>Assembled List</h1>
  <a href="../../"><i class="fa fa-home" style="font-size:24px;color:blue" aria-hidden="true"></i></a>
	<div class="wrapper">	


    <form class='form' method='GET' action='.'>
                        <input type='text' id='search' placeholder="Search component" name="q" value='{{ request.GET.q}}'>
                        <button class='btn btn-default' type='submit'>Search</button>
                        <a href="{% url 'component:assembled-list'  %}">Clear result</a>
    </form>

    {{ page_obj.start_index }} to {{ page_obj.end_index }} of {{ page_obj.paginator.count }} record(s). <br>
     {% if is_paginated %}
                  <ul class="pagination">
                    {% if page_obj.has_previous %}
                      <li><a href="?q={{ request.GET.q}}&page={{ page_obj.previous_page_number }}">&laquo;</a></li>
                    {% else %}
                      <li class="disabled"><span>&laquo;</span></li>
                    {% endif %}
                    {% for i in paginator.page_range %}
                      {% if page_obj.number == i %}
                        <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
                      {% else %}
                        <li><a href="?q={{ request.GET.q}}&page={{ i }}">{{ i }}</a></li>
                      {% endif %}
                    {% endfor %}
                    {% if page_obj.has_next %}
                      <li><a href="?q={{ request.GET.q}}&page={{ page_obj.next_page_number }}">&raquo;</a></li>
                    {% else %}
                      <li class="disabled"><span>&raquo;</span></li>
                    {% endif %}
                  </ul>
      {% endif %}

    <table class="table table-bordered">
      <thead>
        <tr>
          <th scope="col">Number</th>
          <th scope="col">RefDes</th>
          <th scope="col">Part number</th>
          <th scope="col">Rev</th>
          
          <th scope="col">Type</th>
          <th scope="col">Module</th>
         <th scope="col">Component</th>
         <th scope="col">Operation</th>
         <th scope="col">Action</th>

        </tr>
      </thead>
      <tbody>
		
    		{% for object in object_list %}
          <tr>
            <td><a href="{{object.get_absolute_url}}">{{object.number}}</a> </td>
            <td>{{object.refdes}} </td>
            <td>{{object.pn}}</td>
            <td>{{object.rev}}</td>
            <td>{{object.pn_type}}</td>
            <td>{{object.module_number}}</td>
            <td>{{object.Component}}</td>
            <td>{{object.operation}}</td>
            <td>{{object.action_status}}</td>
           
          </tr>
    		{% endfor %}
      </tbody>
    </table>

    {{ page_obj.start_index }} to {{ page_obj.end_index }} of {{ page_obj.paginator.count }} record(s). <br>
     {% if is_paginated %}
                  <ul class="pagination">
                    {% if page_obj.has_previous %}
                      <li><a href="?q={{ request.GET.q}}&page={{ page_obj.previous_page_number }}">&laquo;</a></li>
                    {% else %}
                      <li class="disabled"><span>&laquo;</span></li>
                    {% endif %}
                    {% for i in paginator.page_range %}
                      {% if page_obj.number == i %}
                        <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
                      {% else %}
                        <li><a href="?q={{ request.GET.q}}&page={{ i }}">{{ i }}</a></li>
                      {% endif %}
                    {% endfor %}
                    {% if page_obj.has_next %}
                      <li><a href="?q={{ request.GET.q}}&page={{ page_obj.next_page_number }}">&raquo;</a></li>
                    {% else %}
                      <li class="disabled"><span>&raquo;</span></li>
                    {% endif %}
                  </ul>
      {% endif %}

	</div>
		
{% endblock content %}


{% block stylesheet %}
{% endblock stylesheet %}