
{% extends "base.html" %}


{% block title %}
	Component : {{ object }}
{% endblock %}

{% block content %}
	<div class="wrapper">	
		<h1>Number : {{object}}</h1> 
		<a href="../">Back to Component list</a><br>
		<i>Registered date : {{object.registered_date}} </i><br>
		<i>Modified date : {{object.last_modified_date}}</i>

		<div class="row">
          <div class="col-md-6">
	            <h4>Basic Information</h4>
			<table class="table">
			  <tbody>
			  	<tr>
			  		<td>Barcode</td>
			      	<td>{{object.barcode}}</td>
			    </tr>

			  	<tr>
			  		<td>Title</td>
			      	<td>{{object.title}}</td>
			    </tr>
			  	<tr>
			  		<td>Description</td>
			      	<td>{{object.description|linebreaks}}</td>
			    </tr>

			   <tr>
			  		<td>Qty</td>
			      	<td>{{object.qty}}</td>
			    </tr>

			    

			    <tr>
			  		<td>Usage</td>
			      	<td>{{object.usage_count}}</td>
			    </tr>

			    <tr>
			  		<td>Carrier</td>
			      	<td>{{object.carrier}}</td>
			    </tr>
			   
			    <tr>
			  		<td>Slug</td>
			      	<td>{{object.slug}}</td>
			    </tr>

			   

			    <tr>
			  		<td>Category</td>
			      	<td>{{object.category1}}/{{object.category2}}</td>
			    </tr>

			    <tr>
			  		<td>Registerd Date</td>
			      	<td>{{object.registered_date}}</td>
			    </tr>

			   

			    <tr>
			  		<td>Last Date</td>
			      	<td>{{object.last_modified_date}}</td>
			    </tr>

			    <tr>
			  		<td>User</td>
			      	<td>{{object.user}}</td>
			    </tr>

			    <tr>
			  		<td>Status</td>
			      	<td><i class="fa {% if object.status == 'A' %} ' fa-check-circle '  {% else %} ' fa-times-circle ' {% endif %} {% if object.status == 'A' %} true  {% else %} false {% endif %}" aria-hidden="true"></i></td>
			    </tr>
			  </tbody>
			</table>
		</div>

	<div class="col-md-6">
            <h4>Part number and Revision Information</h4>
            <table class="table">
			  <tbody>
			  

			  	<tr>
			  		<td>Part number</td>
			      	<td>{{object.pn}}</td>
			    </tr>
			  	<tr>
			  		<td>Rev</td>
			      	<td>{{object.rev|default_if_none:''}}</td>
			    </tr>
			    <tr>
			  		<td>Date code</td>
			      	<td>{{object.datecode|default_if_none:''}}</td>
			    </tr>

			    <tr>
			  		<td>Lot code</td>
			      	<td>{{object.lotcode|default_if_none:''}}</td>
			    </tr>

			    <tr>
			  		<td>Supply code</td>
			      	<td>{{object.supcode|default_if_none:''}}</td>
			    </tr>

			   
			    
			  </tbody>
			</table>
     </div>


     <div class="col-md-6">
            <h4>MSD Information</h4>
            <table class="table">
			  <tbody>
			  

			  	<tr>
			  		<td>Moisture Sensitivity Levels</td>
			      	<td>{{object.msl|default_if_none:''}}</td>
			    </tr>
			  	<tr>
			  		<td>Floor life (hr)</td>
			      	<td>{{object.floor_life|default_if_none:''}}</td>
			    </tr>
			    <tr>
			  		<td>Shelf life (day)</td>
			      	<td>{{object.shelf_life|default_if_none:''}}</td>
			    </tr>

			    <tr>
			  		<td>Manufacturer Exposure Time (hr)</td>
			      	<td>{{object.met|default_if_none:''}}</td>
			    </tr>

			    <tr>
			  		<td>Expire Date</td>
			      	<td>{{object.exp_date|default_if_none:''}}</td>
			    </tr>

			    <tr>
			  		<td>Start Baking Datetime</td>
			      	<td>{{object.baking_start_date|default_if_none:''}}</td>
			    </tr>

			    <tr>
			  		<td>Finish Baking Datetime</td>
			      	<td>{{object.baking_finish_date|default_if_none:''}}</td>
			    </tr>

			   
			    
			  </tbody>
			</table>
     </div>

     <div class="row">
          <div class="col-md-12">
            <h4>Assembly and De-assembly History (Usage)</h4>

            <table class="table table-hover">
		      <thead>
		        <tr>
		          <th scope="col">Operation</th>
		          <th scope="col">Unit Serial number</th>
		          <th scope="col">Date</th>
		          <th scope="col">RefDes</th>
		          <th scope="col">Part number</th>
		          <th scope="col">Rev</th>
		          
		          <th scope="col">Type</th>
		         <th scope="col">Action</th>

		        </tr>
		      </thead>
		      <tbody>
				
		    		{% for object in object.assembled.all %}
				          <tr>
				            <td>{{object.operation}} </td>
				            <td><a href="{{object.number.get_absolute_url}}">{{object.number}}</a></td>
				            <td>{{object.action_date}} </td>
				            <td>{{object.refdes}} </td>
				            <td>{{object.pn}}</td>
				            <td>{{object.rev}}</td>
				            <td>{{object.pn_type}}</td>
				           <!--  <td><a href="{{object.module_number.get_absolute_url}}">{{object.module_number|default:""}}</a></td>
				            <td><a href="{{object.component_number.get_absolute_url}}">{{object.component_number|default:""}}</a></td>-->
				            <td><i class="fa {% if object.action_status  %} ' fa-check-circle '  {% else %} ' fa-times-circle ' {% endif %} {% if object.action_status %} true  {% else %} false {% endif %}" aria-hidden="true"></i></td> 
				           
				          </tr>
		    		{% endfor %}
		      </tbody>
		    </table>

        </div> 

</div>

	</div>
{% endblock content %}